/*
  Put clouddesk CSS specific declarations here
*/

/* Has the header background is now white, better materialize the
 bottom border to keep a separation from the main content area */
.nxHeader { /* border-bottom: 1px solid #999; */
	
}

/* The default galaxy theme has some style for the mainTabs links,
 let's override them */
.nxHeader .mainTabs a:visited,.nxHeader .mainTabs a:link {
	color: #333;
}

.nxMainContainer {
	font-size: 1em;
	min-height: 660px;
	height: auto !important;
	height: 660px
}

.nxMainContainer .content {
	background-color: #ffffff;
	font-family: "default (__FLAVOR__ font)";
	padding: 1.5em 2.3em 6em
}

* /
	/* Make the dash board button not stick to the header border */     
	        
.opensocial_zone {
	margin: 0.5em;
}

.opensocial_zone {
	float: right;
}

.opensocial_zone ul li {
	display: inline;
	list-style-type: none;
}

.opensocial_zone ul li a {
	display: block;
	padding: 5px 10px;
	margin-left: 5px;
	text-decoration: none;
	color: #333;
	float: left;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(231,
		231, 231) ), color-stop(0.66, rgb(255, 255, 255) ) );
	background-image: -moz-linear-gradient(center bottom, rgb(231, 231, 231)
		0%, rgb(255, 255, 255) 66% );
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#ffffff', EndColorStr='#e8e8e8' );
	/* For Internet Explorer 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8e8e8)";
}

.opensocial_zone ul li a:link,.opensocial_zone a:visited {
	color: #333;
}

.opensocial_zone a:hover {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}

.summary_div_0 {
	float: left;
	padding: 1em 0;
	width: 100%
}
.titleBlock { float: left; max-width: 100%; padding-left:15px; font-size:11px }
